<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">bottom</a>
      </div>
      <h6 class="display-6"></h6>
    </nav>
    </footer>